# CAS BDAI Individual Innovation Project: Tennis Match Predictor

## Table of Contents 
1. [Introduction](#introduction)
2. [Understanding the Data](#understanding-data)
3. [ ](# )
4. [ ](# )
5. [ ](# )
6. [ ](# )
7. [ ](# )
8. [ ](# )

## Introduction <a name="introduction"></a>

### Tennis Match Predictor: GAImeSetMatch


### Goal of this project

...

![.png](img/project/image.png)

Source: [something](https://example.com/)

## Understanding the Data <a name="understanding-data"></a>

### Import the dependencies
First we need to import the required libraries: pandas, numpy and matplotlib.pyplot.

In [149]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
%matplotlib inline

### Define some helper functions
These will help us later with common tasks.

####

### Load and explore the data
This section loads the data available in .csv files from the aforementioned source, explores the data and then cleans it for ease of use and data quality.

In [150]:
# first, set some static parameters and options (used later too for loading other files)

# directory containing the .csv files
dirname = 'data'

# set options for pandas viewing
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)
# pd.reset_option('display.float_format')

# pd.reset_option('^display.', silent=True)
# pd.options.display.float_format = '{:.5f}'.format


#### Matches
Data is available in the form of results of ATP matches. For simplicity reasons, focus only on matches since the year 2000*. Each year is stored in one file using naming convention atp_matches_yyyy.csv.

*The reasoning behind this: since the year 2000, there have been factors that have influenced the outcomes of the modern form of the sport. For me, these are:
1. Racquet technology: Since the 1980s, rackets are made mainly out of graphite. Reference: [Link](https://www.pledgesports.org/2019/08/evolution-of-tennis-rackets/)
2. String technology: In the late 1990s, polyester strings were introduced, which revolutionised the sport. Reference: [Link](https://scientificinquirer.com/2021/08/30/string-theory-the-synthetic-revolution-that-changed-tennis-forever/)
3. Surfaces: in 2009, the ATP discontinued use of carpet court use in all its tournaments. Reference: [Link](https://racketsportsworld.com/tennis-not-played-carpet-courts/#When_was_Carpet_Discontinued_from_Use_in_Tennis)

In [151]:
# create a list of matches (since the year 2000 ) files to load
atp_match_files = [f'{dirname}/atp_matches_{year}.csv' for year in range(2000, 2024)]

In [152]:
# create an empty dataframe to store all matches
matches_df = pd.DataFrame()

# loop through the list of match files, read them and append the data to the combined DataFrame
for filen in atp_match_files:
    matches_df = pd.concat([matches_df, pd.read_csv(filen, index_col=None)])

In [153]:
# explore the matches data
matches_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,winner_name,winner_hand,winner_ht,winner_ioc,winner_age,loser_id,loser_seed,loser_entry,loser_name,loser_hand,loser_ht,loser_ioc,loser_age,score,best_of,round,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2000-301,Auckland,Hard,32,A,20000110,1,103163,1.00000,NaN,Tommy Haas,R,188.00000,GER,21.70000,101543,NaN,NaN,Jeff Tarango,L,180.00000,USA,31.10000,7-5 4-6 7-5,3,R32,108.00000,18.00000,4.00000,96.00000,49.00000,39.00000,28.00000,17.00000,3.00000,5.00000,7.00000,8.00000,106.00000,55.00000,39.00000,29.00000,17.00000,4.00000,7.00000,11.00000,1612.00000,63.00000,595.00000
1,2000-301,Auckland,Hard,32,A,20000110,2,102607,NaN,Q,Juan Balcells,R,190.00000,ESP,24.50000,102644,NaN,NaN,Franco Squillari,L,183.00000,ARG,24.30000,7-5 7-5,3,R32,85.00000,5.00000,3.00000,76.00000,52.00000,39.00000,13.00000,12.00000,5.00000,6.00000,5.00000,10.00000,74.00000,32.00000,25.00000,18.00000,12.00000,3.00000,6.00000,211.00000,157.00000,49.00000,723.00000
2,2000-301,Auckland,Hard,32,A,20000110,3,103252,NaN,NaN,Alberto Martin,R,175.00000,ESP,21.30000,102238,NaN,NaN,Alberto Berasategui,R,173.00000,ESP,26.50000,6-3 6-1,3,R32,56.00000,0.00000,0.00000,55.00000,35.00000,25.00000,12.00000,8.00000,1.00000,1.00000,0.00000,6.00000,56.00000,33.00000,20.00000,7.00000,8.00000,7.00000,11.00000,48.00000,726.00000,59.00000,649.00000
3,2000-301,Auckland,Hard,32,A,20000110,4,103507,7.00000,NaN,Juan Carlos Ferrero,R,183.00000,ESP,19.90000,103819,NaN,NaN,Roger Federer,R,185.00000,SUI,18.40000,6-4 6-4,3,R32,68.00000,5.00000,1.00000,53.00000,28.00000,26.00000,15.00000,10.00000,0.00000,0.00000,11.00000,2.00000,70.00000,43.00000,29.00000,14.00000,10.00000,6.00000,8.00000,45.00000,768.00000,61.00000,616.00000
4,2000-301,Auckland,Hard,32,A,20000110,5,102103,NaN,Q,Michael Sell,R,180.00000,USA,27.30000,102765,4.00000,NaN,Nicolas Escude,R,185.00000,FRA,23.70000,0-6 7-6(7) 6-1,3,R32,115.00000,1.00000,2.00000,98.00000,66.00000,39.00000,14.00000,13.00000,6.00000,11.00000,8.00000,8.00000,92.00000,46.00000,34.00000,18.00000,12.00000,5.00000,9.00000,167.00000,219.00000,34.00000,873.00000

In [154]:
# get an overview of number of features, instances, empty values and data types 
matches_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 71213 entries, 0 to 2368
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          71213 non-null  object
 1   tourney_name        71213 non-null  object
 2   surface             71213 non-null  object
 3   draw_size           71213 non-null  int64
 4   tourney_level       71213 non-null  object
 5   tourney_date        71213 non-null  int64
 6   match_num           71213 non-null  int64
 7   winner_id           71213 non-null  int64
 8   winner_seed         29586 non-null  float64
 9   winner_entry        8944 non-null   object
 10  winner_name         71213 non-null  object
 11  winner_hand         71204 non-null  object
 12  winner_ht           69582 non-null  float64
 13  winner_ioc          71213 non-null  object
 14  winner_age          71208 non-null  float64
 15  loser_id            71213 non-null  int64
 16  loser_seed          16330 non-null  float64
 17  loser_entry         14584 non-null  object
 18  loser_name          71213 non-null  object
 19  loser_hand          71171 non-null  object
 20  loser_ht            67939 non-null  float64
 21  loser_ioc           71213 non-null  object
 22  loser_age           71207 non-null  float64
 23  score               71213 non-null  object
 24  best_of             71213 non-null  int64
 25  round               71213 non-null  object
 26  minutes             63277 non-null  float64
 27  w_ace               64811 non-null  float64
 28  w_df                64811 non-null  float64
 29  w_svpt              64811 non-null  float64
 30  w_1stIn             64811 non-null  float64
 31  w_1stWon            64811 non-null  float64
 32  w_2ndWon            64811 non-null  float64
 33  w_SvGms             64812 non-null  float64
 34  w_bpSaved           64811 non-null  float64
 35  w_bpFaced           64811 non-null  float64
 36  l_ace               64811 non-null  float64
 37  l_df                64811 non-null  float64
 38  l_svpt              64811 non-null  float64
 39  l_1stIn             64811 non-null  float64
 40  l_1stWon            64811 non-null  float64
 41  l_2ndWon            64811 non-null  float64
 42  l_SvGms             64812 non-null  float64
 43  l_bpSaved           64811 non-null  float64
 44  l_bpFaced           64811 non-null  float64
 45  winner_rank         70666 non-null  float64
 46  winner_rank_points  70666 non-null  float64
 47  loser_rank          69793 non-null  float64
 48  loser_rank_points   69793 non-null  float64
dtypes: float64(29), int64(6), object(14)
memory usage: 27.2+ MB

In [155]:
matches_df.describe()

,draw_size,tourney_date,match_num,winner_id,winner_seed,winner_ht,winner_age,loser_id,loser_seed,loser_ht,loser_age,best_of,minutes,w_ace,w_df,w_svpt,w_1stIn,w_1stWon,w_2ndWon,w_SvGms,w_bpSaved,w_bpFaced,l_ace,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
count,71213.00000,71213.00000,71213.00000,71213.00000,29586.00000,69582.00000,71208.00000,71213.00000,16330.00000,67939.00000,71207.00000,71213.00000,63277.00000,64811.00000,64811.00000,64811.00000,64811.00000,64811.00000,64811.00000,64812.00000,64811.00000,64811.00000,64811.00000,64811.00000,64811.00000,64811.00000,64811.00000,64811.00000,64812.00000,64811.00000,64811.00000,70666.00000,70666.00000,69793.00000,69793.00000
mean,55.12847,20109104.95770,94.71271,108736.80855,7.37552,186.13802,26.28357,108802.46563,8.89167,185.59860,26.38963,3.45761,106.69245,6.91245,2.65052,77.99489,47.97124,36.30004,16.64463,12.51935,3.46433,5.03759,5.11475,3.37616,81.03353,48.55815,32.39725,14.96490,12.31158,4.77988,8.62809,79.60923,1592.65010,117.93823,965.14317
std,40.04523,68421.82063,130.18938,18210.10981,6.78996,6.81147,3.95905,18259.89643,7.32843,6.76917,4.07194,0.84013,41.17812,5.53431,2.29043,29.23857,18.97155,13.59139,6.97980,4.23338,3.07829,4.03469,4.88851,2.53540,29.21421,19.24118,14.38498,7.20746,4.23430,3.27306,4.14767,138.94982,1997.65750,186.05034,1112.62339
min,2.00000,20000103.00000,1.00000,100644.00000,1.00000,163.00000,14.90000,100644.00000,1.00000,163.00000,14.50000,3.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,1.00000,1.00000,1.00000,1.00000
25%,32.00000,20050509.00000,11.00000,103498.00000,3.00000,183.00000,23.40000,103444.00000,4.00000,181.00000,23.40000,3.00000,77.00000,3.00000,1.00000,56.00000,34.00000,27.00000,12.00000,9.00000,1.00000,2.00000,2.00000,2.00000,60.00000,35.00000,22.00000,10.00000,9.00000,2.00000,6.00000,18.00000,573.00000,36.00000,426.00000
50%,32.00000,20110117.00000,28.00000,104339.00000,5.00000,185.00000,26.10000,104338.00000,7.00000,185.00000,26.20000,3.00000,99.00000,6.00000,2.00000,73.00000,45.00000,34.00000,16.00000,11.00000,3.00000,4.00000,4.00000,3.00000,76.00000,45.00000,30.00000,14.00000,11.00000,4.00000,8.00000,45.00000,933.00000,68.00000,703.00000
75%,64.00000,20170203.00000,169.00000,105227.00000,9.00000,190.00000,29.00000,105385.00000,12.00000,190.00000,29.20000,3.00000,129.00000,9.00000,4.00000,94.00000,58.00000,43.00000,20.00000,15.00000,5.00000,7.00000,7.00000,5.00000,97.00000,59.00000,40.00000,19.00000,15.00000,7.00000,11.00000,85.00000,1715.00000,114.00000,1095.00000
max,128.00000,20230828.00000,1701.00000,211468.00000,35.00000,211.00000,42.30000,212041.00000,35.00000,211.00000,46.00000,5.00000,1146.00000,113.00000,26.00000,491.00000,361.00000,292.00000,82.00000,90.00000,24.00000,30.00000,103.00000,26.00000,489.00000,328.00000,284.00000,101.00000,91.00000,27.00000,38.00000,2101.00000,16950.00000,2159.00000,16950.00000

Here's a small sample matches dataframe to be used for miscellaneous usage

In [156]:

# Small sample dataframe (5 matches) for misc usage
sample_matches_df = pd.DataFrame(data = {
    'tourney_id': ['2000-301', '2000-301', '2000-301', '2000-301', '2000-301'],
    'tourney_name': ['Auckland', 'Auckland', 'Auckland', 'Auckland', 'Auckland'],
    'surface': ['Hard', 'Hard', 'Hard', 'Hard', 'Hard'],
    'draw_size': [32, 32, 32, 32, 32],
    'tourney_level': ['A', 'A', 'A', 'A', 'A'],
    'tourney_date': [20000110, 20000110, 20000110, 20000110, 20000110],
    'match_num': [1, 2, 3, 4, 5],
    'winner_id': [103163, 102607, 103252, 103507, 102103],
    'winner_seed': [1.0, None, None, 7.0, None],
    'winner_entry': [None, 'Q', None, None, 'Q'],
    'winner_name': ['Tommy Haas', 'Juan Balcells', 'Alberto Martin', 'Juan Carlos Ferrero', 'Michael Sell'],
    'winner_hand': ['R', 'R', 'R', 'R', 'R'],
    'winner_ht': [188.0, 190.0, 175.0, 183.0, 180.0],
    'winner_ioc': ['GER', 'ESP', 'ESP', 'ESP', 'USA'],
    'winner_age': [21.7, 24.5, 21.3, 19.9, 27.3],
    'loser_id': [101543, 102644, 102238, 103819, 102765],
    'loser_seed': [None, None, None, None, 4.0],
    'loser_entry': [None, None, None, None, None],
    'loser_name': ['Jeff Tarango', 'Franco Squillari', 'Alberto Berasategui', 'Roger Federer', 'Nicolas Escude'],
    'loser_hand': ['L', 'L', 'L', 'L', 'L'],
    'loser_ht': [180.0, 183.0, 173.0, 185.0, 185.0],
    'loser_ioc': ['USA', 'ARG', 'ESP', 'SUI', 'FRA'],
    'loser_age': [31.1, 24.3, 26.5, 18.4, 23.7],
    'score': ['7-5 4-6 7-5', '7-5 7-5', '6-3 6-1', '6-4 6-4', '0-6 7-6(7) 6-1'],
    'best_of': [3, 3, 3, 3, 3],
    'round': ['R32', 'R32', 'R32', 'R32', 'R32'],
    'minutes': [108.0, 85.0, 56.0, 68.0, 115.0],
    'w_ace': [18.0, 5.0, 0.0, 5.0, 1.0],
    'w_df': [4.0, 3.0, 0.0, 1.0, 2.0],
    'w_svpt': [96.0, 76.0, 55.0, 53.0, 98.0],
    'w_1stIn': [49.0, 52.0, 35.0, 28.0, 66.0],
    'w_1stWon': [39.0, 39.0, 25.0, 26.0, 39.0],
    'w_2ndWon': [28.0, 13.0, 12.0, 15.0, 14.0],
    'w_SvGms': [17.0, 12.0, 8.0, 10.0, 13.0],
    'w_bpSaved': [3.0, 5.0, 1.0, 0.0, 6.0],
    'w_bpFaced': [5.0, 6.0, 1.0, 0.0, 8.0],
    'l_ace': [7.0, 10.0, 6.0, 11.0, 8.0],
    'l_df': [8.0, 7.0, 6.0, 2.0, 8.0],
    'l_svpt': [106.0, 74.0, 56.0, 70.0, 92.0],
    'l_1stIn': [55.0, 32.0, 33.0, 43.0, 46.0],
    'l_1stWon': [39.0, 25.0, 20.0, 29.0, 34.0],
    'l_2ndWon': [29.0, 18.0, 7.0, 14.0, 18.0],
    'l_SvGms': [17.0, 12.0, 8.0, 10.0, 12.0],
    'l_bpSaved': [4.0, 3.0, 7.0, 6.0, 5.0],
    'l_bpFaced': [7.0, 6.0, 11.0, 8.0, 9.0],
    'winner_rank': [1612.0, 211.0, 48.0, 768.0, 167.0],
    'winner_rank_points': [63.0, 157.0, 726.0, 616.0, 219.0],
    'loser_rank': [595.0, 723.0, 649.0, 616.0, 873.0],
    'loser_rank_points': [None, 723.0, 649.0, 616.0, 873.0]
}
)

#### Rankings
Data is also available in the form of ranking of ATP players. It may be required to supplement the missing data for current rankings in the matches dataset, for example, a player doesn't have a ranking at the time of playing a match.

In [157]:
# create a list of rankings (since the year 2000 ) files to load
atp_rankings_files = [f'{dirname}/atp_rankings_{year}.csv' for year in ['00s','10s', '20s', 'current']]

In [158]:
# create an empty dataframe to store all rankings
rankings_df = pd.DataFrame()

# loop through the list of rankings files, read them and append the data to the combined DataFrame
for filen in atp_rankings_files:
    rankings_df = pd.concat([rankings_df, pd.read_csv(filen, index_col=None)])

In [159]:
# explore the rankings data
rankings_df.head()

   ranking_date  rank  player     points
0      20000110     1  101736 4135.00000
1      20000110     2  102338 2915.00000
2      20000110     3  101948 2419.00000
3      20000110     4  103017 2184.00000
4      20000110     5  102856 2169.00000

In [160]:
# get an overview of number of features, instances, empty values and data types 
rankings_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2140631 entries, 0 to 58510
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   ranking_date  int64
 1   rank          int64
 2   player        int64
 3   points        float64
dtypes: float64(1), int64(3)
memory usage: 81.7 MB

In [161]:
# sanity checks on the data (min values, max values, etc.)
rankings_df.describe()

        ranking_date          rank        player        points
count  2140631.00000 2140631.00000 2140631.00000 2139882.00000
mean  20112972.33072     941.09613  119768.98851     117.05611
std      66763.21263     547.58143   31216.72435     455.87982
min   20000110.00000       1.00000  100149.00000       1.00000
25%   20060213.00000     470.00000  104128.00000       2.00000
50%   20110919.00000     946.00000  105498.00000      10.00000
75%   20170306.00000    1381.00000  120568.00000      65.00000
max   20230911.00000    2271.00000  212464.00000   16950.00000

### Helper function: Hide winner and loser from columns names

In [162]:

def hide_winner_loser(input_df):
    ''' Replace columns starting with 'winner_' and 'loser_' with 'player_1_' and 'player_2_' for the required features
    As we want to be able to predict who will be the winner and the loser in each match, we remove the 'winner_' and 'loser_' columns for each match, 
    and instead replace it with player_1_ and player_2 which are the player names in alphabetical order. 
    The features starting with 'w_' and 'l_' are measures recorded during the match and will not be used in the model for predicting the outcome, so we remove these features
    We will add a column at the end of the dataframe,  which will serve as our y variable '''

    # List of required features
    features = ['id', 'seed', 'entry', 'name', 'hand', 'ht', 'ioc', 'age', 'rank', 'rank_points']
    
    # Copy the input DataFrame to a new one
    df = input_df.copy()

    # Add player_1_name and player_2_name columns
    df['player_1_name'] = df.apply(lambda row: min(row['winner_name'], row['loser_name']), axis=1)
    df['player_2_name'] = df.apply(lambda row: max(row['winner_name'], row['loser_name']), axis=1)

    # Transfer the values from 'winner_' and 'loser_' features to 'player_1_' and 'player_2_' features, according to who was the winner & loser
    for feat in features:
        player_1_feature = np.where(df['player_1_name'] == df['winner_name'],
                                    df['winner_' + feat],
                                    df['loser_' + feat]
                                    )
        player_2_feature = np.where(df['player_2_name'] == df['winner_name'],
                                    df['winner_' + feat],
                                    df['loser_' + feat]
                                    )
        df['player_1_' + feat] = player_1_feature
        df['player_2_' + feat] = player_2_feature   

          
    # Add a winner column
    df['winner'] = df.apply(lambda row: 'player_1' if row['winner_name'] == row['player_1_name'] else 'player_2', axis=1)

    # Remove columns starting with 'winner_' and 'loser_' (they have been replaced by player_1_ and player_2_)
    df = df.loc[:, ~df.columns.str.startswith('winner_') & ~df.columns.str.startswith('loser_')]

    # Remove columns starting with 'w_' and 'l_' (not needed for predicting_)
    df = df.loc[:, ~df.columns.str.startswith('w_') & ~df.columns.str.startswith('l_')]

    return df

#### Test the function hide_winner_loser()

In [163]:
output_df = hide_winner_loser(sample_matches_df)
print(output_df.shape)
output_df

(5, 32)

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,score,best_of,round,minutes,player_1_name,player_2_name,player_1_id,player_2_id,player_1_seed,player_2_seed,player_1_entry,player_2_entry,player_1_hand,player_2_hand,player_1_ht,player_2_ht,player_1_ioc,player_2_ioc,player_1_age,player_2_age,player_1_rank,player_2_rank,player_1_rank_points,player_2_rank_points,winner
0,2000-301,Auckland,Hard,32,A,20000110,1,7-5 4-6 7-5,3,R32,108.00000,Jeff Tarango,Tommy Haas,101543,103163,NaN,1.00000,None,None,L,R,180.00000,188.00000,USA,GER,31.10000,21.70000,595.00000,1612.00000,NaN,63.00000,player_2
1,2000-301,Auckland,Hard,32,A,20000110,2,7-5 7-5,3,R32,85.00000,Franco Squillari,Juan Balcells,102644,102607,NaN,NaN,None,Q,L,R,183.00000,190.00000,ARG,ESP,24.30000,24.50000,723.00000,211.00000,723.00000,157.00000,player_2
2,2000-301,Auckland,Hard,32,A,20000110,3,6-3 6-1,3,R32,56.00000,Alberto Berasategui,Alberto Martin,102238,103252,NaN,NaN,None,None,L,R,173.00000,175.00000,ESP,ESP,26.50000,21.30000,649.00000,48.00000,649.00000,726.00000,player_2
3,2000-301,Auckland,Hard,32,A,20000110,4,6-4 6-4,3,R32,68.00000,Juan Carlos Ferrero,Roger Federer,103507,103819,7.00000,NaN,None,None,R,L,183.00000,185.00000,ESP,SUI,19.90000,18.40000,768.00000,616.00000,616.00000,616.00000,player_1
4,2000-301,Auckland,Hard,32,A,20000110,5,0-6 7-6(7) 6-1,3,R32,115.00000,Michael Sell,Nicolas Escude,102103,102765,NaN,4.00000,Q,None,R,L,180.00000,185.00000,USA,FRA,27.30000,23.70000,167.00000,873.00000,219.00000,873.00000,player_1

In [164]:
# replace the winner and loser columns with player_1 and player_2 for the matches dataset
matches_df= hide_winner_loser(matches_df)
matches_df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,score,best_of,round,minutes,player_1_name,player_2_name,player_1_id,player_2_id,player_1_seed,player_2_seed,player_1_entry,player_2_entry,player_1_hand,player_2_hand,player_1_ht,player_2_ht,player_1_ioc,player_2_ioc,player_1_age,player_2_age,player_1_rank,player_2_rank,player_1_rank_points,player_2_rank_points,winner
0,2000-301,Auckland,Hard,32,A,20000110,1,7-5 4-6 7-5,3,R32,108.00000,Jeff Tarango,Tommy Haas,101543,103163,NaN,1.00000,NaN,NaN,L,R,180.00000,188.00000,USA,GER,31.10000,21.70000,63.00000,11.00000,595.00000,1612.00000,player_2
1,2000-301,Auckland,Hard,32,A,20000110,2,7-5 7-5,3,R32,85.00000,Franco Squillari,Juan Balcells,102644,102607,NaN,NaN,NaN,Q,L,R,183.00000,190.00000,ARG,ESP,24.30000,24.50000,49.00000,211.00000,723.00000,157.00000,player_2
2,2000-301,Auckland,Hard,32,A,20000110,3,6-3 6-1,3,R32,56.00000,Alberto Berasategui,Alberto Martin,102238,103252,NaN,NaN,NaN,NaN,R,R,173.00000,175.00000,ESP,ESP,26.50000,21.30000,59.00000,48.00000,649.00000,726.00000,player_2
3,2000-301,Auckland,Hard,32,A,20000110,4,6-4 6-4,3,R32,68.00000,Juan Carlos Ferrero,Roger Federer,103507,103819,7.00000,NaN,NaN,NaN,R,R,183.00000,185.00000,ESP,SUI,19.90000,18.40000,45.00000,61.00000,768.00000,616.00000,player_1
4,2000-301,Auckland,Hard,32,A,20000110,5,0-6 7-6(7) 6-1,3,R32,115.00000,Michael Sell,Nicolas Escude,102103,102765,NaN,4.00000,Q,NaN,R,R,180.00000,185.00000,USA,FRA,27.30000,23.70000,167.00000,34.00000,219.00000,873.00000,player_1

#### Zeros
Here we check for zeros in the matches dataframe, in order to decide what to do with them.

In [165]:
# check all features for zero's
zero_count_per_feature= matches_df.apply(lambda col: (col == 0).sum())
zero_count_per_feature

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
score                    0
best_of                  0
round                    0
minutes                 47
player_1_name            0
player_2_name            0
player_1_id              0
player_2_id              0
player_1_seed            0
player_2_seed            0
player_1_entry           0
player_2_entry           0
player_1_hand            0
player_2_hand            0
player_1_ht              0
player_2_ht              0
player_1_ioc             0
player_2_ioc             0
player_1_age             0
player_2_age             0
player_1_rank            0
player_2_rank            0
player_1_rank_points     0
player_2_rank_points     0
winner                   0
dtype: int64

In [172]:
# explore the matches with 0 or less minutes
matches_lessthan_0mins = matches_df.loc[matches_df['minutes']<=0]
matches_lessthan_0mins.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,score,best_of,round,minutes,player_1_name,player_2_name,player_1_id,player_2_id,player_1_seed,player_2_seed,player_1_entry,player_2_entry,player_1_hand,player_2_hand,player_1_ht,player_2_ht,player_1_ioc,player_2_ioc,player_1_age,player_2_age,player_1_rank,player_2_rank,player_1_rank_points,player_2_rank_points,winner
255,2020-580,Australian Open,Hard,128,G,20200120,188,W/O,5,R64,0.00000,Philipp Kohlschreiber,Stefanos Tsitsipas,104259,126774,NaN,6.00000,NaN,NaN,R,R,178.00000,193.00000,GER,GRE,36.20000,21.40000,79.00000,6.00000,700.00000,5375.00000,player_2
361,2020-0891,Pune,Hard,32,A,20200203,287,W/O,3,R16,0.00000,Viktor Troicki,Yuichi Sugita,104678,105216,NaN,5.00000,Q,NaN,R,R,193.00000,173.00000,SRB,JPN,33.90000,31.30000,191.00000,86.00000,263.00000,645.00000,player_2
376,2020-0506,Buenos Aires,Clay,32,A,20200210,299,W/O,3,SF,0.00000,Diego Schwartzman,Pedro Sousa,106043,105155,1.00000,NaN,NaN,LL,R,R,170.00000,180.00000,ARG,POR,27.40000,31.70000,14.00000,145.00000,2325.00000,373.00000,player_2
454,2020-0407,Rotterdam,Hard,32,A,20200210,275,W/O,3,R32,0.00000,Jannik Sinner,Radu Albot,206173,105430,NaN,NaN,WC,NaN,R,R,188.00000,175.00000,ITA,MDA,18.40000,30.20000,79.00000,50.00000,710.00000,977.00000,player_1
1258,2020-0352,Paris Masters,Hard,64,M,20201102,271,W/O,3,R32,0.00000,Corentin Moutet,Marin Cilic,144895,105227,NaN,NaN,WC,NaN,L,R,178.00000,198.00000,FRA,CRO,21.50000,32.00000,75.00000,43.00000,838.00000,1280.00000,player_2

The matches lasting 0 minutes are all W/O ("Walkovers"), meaning that one player did not contest the match due to injury, illness, etc. These instances should not be used for predicting matches, as they don't measure a player's performance.

##### NaN or empty values
Here we check for NaN or empty values in the matches dataframe, in order to decide what to do with them.

....

In [ ]:
# remove matches with 0 or less minutes

In [ ]:
rankings_df.describe()

        ranking_date          rank        player        points
count  2140631.00000 2140631.00000 2140631.00000 2139882.00000
mean  20112972.33072     941.09613  119768.98851     117.05611
std      66763.21263     547.58143   31216.72435     455.87982
min   20000110.00000       1.00000  100149.00000       1.00000
25%   20060213.00000     470.00000  104128.00000       2.00000
50%   20110919.00000     946.00000  105498.00000      10.00000
75%   20170306.00000    1381.00000  120568.00000      65.00000
max   20230911.00000    2271.00000  212464.00000   16950.00000

### Observations
Some initial observations about the x data sets
1. ...
2. ...

## Final Conclusion  <a name="final-concl"></a>

...